# Visual Studio és IDE fájlok
.vs/
*.csproj.user

# ASP.NET beállítások
appsettings.json
appsettings.*.json

# Build outputok (backend)
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.suo
*.user
*.sln.docstates

# Log fájlok
*.log

# Frontend (Node.js / React)
node_modules/
dist/
build/
.env


